<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Addice</title>
</head>
<body>
    <div class="container">
        <header id="cabecera">
            <div>
                <img src="imagenes/2023-02-16 11_09_31-Window.png" alt="">
            </div>
        </header>
        <div class="banner">
            <a href=""><img src="imagenes/sec.png" alt=""></a>
        </div>
        <div class="body">
            <h1>Refres Your Dsktop with our FREE Monthly Orchid Watering Calendars</h1>
            <div></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus amet saepe ratione excepturi facere perspiciatis minima tenetur itaque. Officia, ratione reprehenderit perferendis eligendi ipsam in ea quam laborum similique suscipit.</p>
            <article>
                <img src="imagenes/descarga (1).jfif" alt="">
                <img src="imagenes/descarga (2).jfif" alt="">
                <img src="imagenes/descarga (3).jfif" alt="">
                <img src="imagenes/descarga.jfif" alt="">
                <img src="imagenes/images.jfif" alt="">
            </article>
        </div>
        <aside>
            <header>
                Fill Out From & receive your FREE Download!
            </header>
            <div class="cuestionario">
                <ul>
                    <li>
                        <p> first Name *</p>
                        <input type="text">
                    </li>
                    <li>
                        <p> first Name *</p>
                        <input type="text">
                    </li>
                    <li>
                        <p> first Name *</p>
                        <input type="text">
                    </li>
                    <li>
                        <p> first Name *</p>
                        <input type="text">
                    </li>
                </ul>
                <div id="bc">
                    <input type="checkbox" name="op" id="op">
                    <label for="op">Otro documentos</label>
                </div>
                <br>
                <b><button type="submit">Download Now</b>
            </div>
        </aside>
    </div>
</body>
</html>